league-preview-card {

  #leagueName {
    width: 100%;
    text-align: center;
  }

  #statsHeaders {
    color: gray;
  }

  .stats-row {
    display: flex;
    flex-direction: row;

    span {
      margin: 0 4px;
    }
  }

  .team-name {
    flex-grow: 1;
  }

}
