match-list-item {

  #container {
    width: 100%;
  }

  #homeTeam {
    width: 40%;
    max-width: 40%;
    text-align: left;
  }

  #awayTeam {
    width: 40%;
    max-width: 40%;
    text-align: right;
  }

  #scoreContainer {
    width: 20%;
    max-width: 20%;
    text-align: center;
  }

}
